.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
}

.main input {
  visibility: hidden;
  position: relative;
  width: 200px;
  height: 100px;
}

.wrapper {
  padding: 1rem;
}

.buttonPanel {
  display: flex;
  align-items: center;
}

.wrapper {
  align-items: center;
}

.imageWrapper {
  display: flex;
  align-items: center;
}

.image {
  padding: 3rem;
  display: inline-block;
}

.fileUpload {
  display: flex;
  justify-content: center;
  align-items: center;
  padding:3rem;
}

.tattooButtons {
  align-self: auto;
  text-align: center;
}